{% extends "management_base.html" %}

{% load humanize %}

{% block title %}
Admin Manager
{% endblock %}

{% block content %}
<h3 class="fw-bolder">Staff List</h3>
<hr>
<section class="py-1">
  <div class="container">
    <div class="card rounded-0 shadow-sm blur">
      <div class="card-body">
        <div class="container-fluid">
          <div class="text-end mb-2" style="text-align: right">
            <button type="button" class="btn btn-success" id="add-new">
              <i class="fa fa-plus"></i> Add New Staff
            </button>
          </div>
          <table class="table table-stripped table-bordered" id="staff-table">
            <colgroup>
              <col width="5%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="15%">
              <col width="15%">
              <col width="10%">
              <col width="10%">
              <col width="3%">
              <col width="2%">
            </colgroup>
            <thead>
              <tr class="bg-primary bg-gradient text-light">
                <th class="text-center">#</th>
                <th class="text-center">Joining</th>
                <th class="text-center">Name</th>
                <th class="text-center">Designation</th>
                <th class="text-center">Phone</th>
                <th class="text-center">NID</th>
                <th class="text-center">Address</th>
                <th class="text-center">DOB</th>
                <th class="text-center">Salary</th>
                <th class="text-center">Attendance</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for staff in staffs %}
              <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="">{{ staff.joining_date|date:"M d, Y" }}</td>
                <td class="">{{staff.user.name}}</td>
                <td class="text-end">{{ staff.designation }}</td>
                <td class="text-center">{{ staff.phone }}</td>
                <td class="text-center">{{ staff.nid }}</td>
                <td class="text-center">{{ staff.address }}</td>
                <td class="text-center">{{ staff.dob }}</td>
                <td class="text-center">{{ staff.salary }}</td>
                <td class="text-center">
                  {% if staff.attendance %}
                  Present
                  {% else %}
                  Absent
                  {% endif %}
                </td>
                <td class="text-center">
                  <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    {% comment %} <div class="dropdown-menu">
                      <a class="dropdown-item view-detail text-info" href="javascript:void(0)" data-url="{% url 'fish_fry_detail' fry.pk %}"><i class="fa-solid fa-circle-info"></i> View Detail</a>
                      <a class="dropdown-item edit-data text-success" href="javascript:void(0)" data-url="{% url 'manage_fry_edit' fry.pk %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                      <a class="dropdown-item delete-data text-danger" href="javascript:void(0)" data-url="{% url 'fish_fry_delete' fry.pk %}"><i class="fa-solid fa-trash"></i> Delete</a>
                    </div> {% endcomment %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_script %}
<script>
$(function () {
  $('#staff-table').dataTable({
      "scrollX": true,
      "scrollY": "200px",
    })
})
</script>
{% endblock extra_script %}