{% extends "management_base.html" %}

{% load humanize %}

{% block title %}
Stocks
{% endblock %}

{% block content %}
<h3 class="fw-bolder">Stock Records</h3>
<hr>
<section class="py-3">
  <div class="container">
    <div class="card rounded-0 shadow-sm blur">
      <div class="card-body">
        <div class="container-fluid">
          <div class="text-end mb-2" style="text-align: right">
            <button type="button" class="btn btn-success" id="add-new">
              <i class="fa fa-plus"></i> Add New Stock
            </button>
          </div>
          <table class="table table-stripped table-bordered" id="stock-table">
            <colgroup>
              <col width="10%">
              <col width="20%">
              <col width="30%">
              <col width="25%">
              <col width="15%">
            </colgroup>
            <thead>
              <tr class="bg-primary bg-gradient text-light">
                <th class="text-center">#</th>
                <th class="text-center">Date Added</th>
                <th class="text-center">Product</th>
                <th class="text-center">Volume</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for stock in stocks %}
              <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="">{{ stock.stock_in|date:"M d, Y" }}</td>
                <td class="">{{stock.product}}</td>
                <td class="text-end">{{ stock.volume|floatformat:2|intcomma }} {{stock.unit}}</td>
                <td class="text-center">
                  <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item view-detail text-info" href="javascript:void(0)" data-url="{% url 'stock_detail' stock.pk %}">
                        <i class="fa-solid fa-circle-info"></i> View Detail
                      </a>
                      <a class="dropdown-item edit-data text-success" href="javascript:void(0)" data-url="{% url 'manage_stock_edit' stock.pk %}">
                        <i class="fa-solid fa-pen-to-square"></i> Edit
                      </a>
                      <a class="dropdown-item delete-data text-danger" href="javascript:void(0)" data-url="{% url 'delete_stock' stock.pk %}">
                        <i class="fa-solid fa-trash"></i> Delete
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock content %}

{% block extra_script %}
<script>
  $(function () {
    $('#add-new').click(function () {
      global_modal("Add New Stock", "{% url 'manage_stock' category='FUEL' %}")
    })
    $('.view-detail').click(function () {
      global_modal("View Stock Details", $(this).attr('data-url'))
    })
    $('.edit-data').click(function () {
      global_modal("Edit Stock Details", $(this).attr('data-url'))
    })
    $('.delete-data').click(function () {
      confirm_modal("Are you sure to delete this Stock?", $(this).attr('data-url'), delete_data)
    })
    $('#stock-table').dataTable({
      "scrollX": true,
      "scrollY": "200px",
      "autoWidth": false,
    })
  })

  
</script>
{% endblock extra_script %}