{% load static %}
<header class="header-area">
  <div class="sticky-area">
    <div class="navigation">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-2">
            <div class="logo d-flex justify-content-center align-items-center" style="width: 200px; height: 60px; overflow: hidden;">
              <a class="navbar-brand" href="/">
                  <img class="img-fluid" style="object-fit: cover; object-position: top top;" src="{% static 'img/kb-fisheries-logo.jpeg' %}" alt="Logo">
              </a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="main-menu">
              <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto" id="topNav">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fry_dashboard' %}">Dash-Home</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fry_list' %}">Fries</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fry_stock' %}">Fry Stock</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fry_sales' %}">Fry Sales</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% if request.user.is_staff %}{% url 'fry_sales_report_admin' %}{% else %}{% url 'fry_sales_report_page' %}{% endif %}">Fry Salse Report</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'management' %}">Management</a>
                    </li>

                    
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' %}">{{ request.user.username }}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  
</header>