{% load static %}
<header class="header-area">
  <div class="sticky-area">
    <div class="navigation">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="logo">
              <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt></a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="main-menu">
              <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto" id="topNav">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fuel_dashboard' %}">Dash-Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fuel_list' %}">Fuel Types</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'fuel_stock' %}">Stock</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'inventory' category='FUEL' %}">Inventory</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'sales' %}">Sales</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% if request.user.is_staff %}{% url 'sales_report_admin' %}{% else %}{% url 'sales_report_page' %}{% endif %}">Salse Report</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' %}">{{ request.user.username }}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  
</header>