{% extends "management_base.html" %}
{% load static %}
{% block title %}
{{ staff.user.name }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock extra_css %}

{% block content %}

<section id="profile-section" >
  <div class="container-fluid py-2">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card" style="border-radius: 15px; background-color: #48bbd8;">
          <div class="card-body">
            <div class="row text-black">
              <div class="col-lg-3 col-md-12 mb-4">
                <img src="{{ staff.user.avatar.url }}" alt="Generic placeholder image" class="img-fluid"
                  style="width: 180px; border-radius: 10px;" id="avatar-img" />
              </div>
              <div class="col-lg-9 col-md-12 pe-4" >
                <div style="background-color: rgb(166, 129, 201); border-radius: 10px; padding: 10px; margin-bottom: 10px; color: white;">
                  <h5 class="mb-1">{{ staff.user.name }}</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">
                    {{ staff.designation }}
                  </p>
                </div>
                <div class="profile-item row rounded-lg py-2 mb-2 px-3">
                  <div class="col-md-4 col-sm-6 col-12">
                    <p class="small mb-1">
                      <i class="fa-solid fa-phone"></i> Phone
                    </p>
                    <p class="mb-0">{{ staff.phone }}</p>
                  </div>
                  <div class="col-md-4 col-sm-6 col-12">
                    <p class="small mb-1">
                      <i class="fa-solid fa-cake-candles"></i> Cake Day
                    </p>
                    <p class="mb-0">{{ staff.dob }}</p>
                  </div>
                  <div class="col-md-4 col-sm-6 col-12">
                    <p class="small mb-1">
                      <i class="fa-solid fa-sack-dollar"></i> Salary
                    </p>
                    <p class="mb-0">{{ staff.salary }}</p>
                  </div>
                </div>
                <div class="profile-item row rounded-lg py-2 px-3 mb-2">
                  <div class="col-md-4 col-sm-6 col-12">
                    <p class="small mb-1">
                      <i class="fa-solid fa-id-card"></i> NID
                    </p>
                    <p class="mb-0">{{ staff.nid }}</p>
                  </div>
                  <div class="col-md-4 col-sm-6 col-12">
                    <p class="small mb-1">
                      <i class="fa-solid fa-location-dot"></i> Address
                    </p>
                    <p class="mb-0">{{ staff.address }}</p>
                  </div>
                  <div class="col-md-4 col-sm-6 col-12">
                    <p class="small mb-1">
                      <i class="fa-solid fa-calendar-days"></i> Joining Date
                    </p>
                    <p class="mb-0">{{ staff.joining_date }}</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a class="btn btn-success d-block w-100" href="{% url 'update_profile' %}?mode=edit">Update Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}