{% extends "management_base.html" %}
{% load static %}
{% block title %}
{{ staff.user.name }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock extra_css %}

{% block content %}

<section style="background-color: #9de2ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-8">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="row text-black">
              <div class="flex-shrink-0 col-3 me-2">
                <img src="{{ staff.user.avatar.url }}" alt="Generic placeholder image" class="img-fluid"
                  style="width: 180px; border-radius: 10px;" id="avatar-img" />
              </div>
              <div class="flex-grow-1 col-9 ms-2">
                <div style="background-color: rgb(166, 129, 201); border-radius: 10px; padding: 10px; margin-bottom: 10px; color: white;">
                  <h5 class="mb-1">{{ staff.user.name }}</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">
                    {{ staff.designation }}
                  </p>
                </div>
                <div class="profile-item d-flex justify-content-between rounded-lg p-2 mb-2">
                  <div style="padding: 5px 25px; border-radius: 10px; color: #fff;">
                    <p class="small mb-1">
                      <i class="fa-solid fa-phone"></i>
                    </p>
                    <p class="mb-0">{{ staff.phone }}</p>
                  </div>
                  <div class="px-3" style="padding: 5px 25px; border-radius: 10px; color: #fff;">
                    <p class="small mb-1">
                      <i class="fa-solid fa-cake-candles"></i>
                    </p>
                    <p class="mb-0">{{ staff.dob }}</p>
                  </div>
                  <div style="padding: 5px 25px; border-radius: 10px; color: #fff;">
                    <p class="small mb-1">
                      <i class="fa-solid fa-sack-dollar"></i>
                    </p>
                    <p class="mb-0">{{ staff.salary }}</p>
                  </div>
                </div>
                <div class="profile-item d-flex justify-content-between rounded-lg p-2 mb-2">
                  <div style="padding: 5px 25px; border-radius: 10px; color: #fff;">
                    <p class="small mb-1">
                      <i class="fa-solid fa-id-card"></i>
                    </p>
                    <p class="mb-0">{{ staff.nid }}</p>
                  </div>
                  <div style="padding: 5px 25px; border-radius: 10px; color: #fff;">
                    <p class="small mb-1">
                      <i class="fa-solid fa-location-dot"></i>
                    </p>
                    <p class="mb-0">{{ staff.address }}</p>
                  </div>
                  <div style="padding: 5px 25px; border-radius: 10px; color: #fff;">
                    <p class="small mb-1">
                      Joining Date
                    </p>
                    <p class="mb-0">{{ staff.joining_date }}</p>
                  </div>
                </div>
                <div class="d-flex pt-1 justify-content-between">
                  <button id="update-btn" type="button" class="btn btn-primary flex-grow-1">
                    <a href="{% url 'update_profile' %}?mode=edit">Update Profile</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}