{% extends "base.html" %}

{% load static %}

{% block title %}
About Khan Brothers
{% endblock %}

{% block content %}
<div class="breadcroumb-area bread-bg"
  style="background-image: url({% static 'img/about/about-bg.jpg' %}); background-position: 100% 59.41%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcroumb-title">
          <h1>About Us</h1>
          <h6><a href="/">Home</a> <i class="fa-solid fa-dot-circle"></i> About Us</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-content-wrapper wow fadeInUp" data-wow-delay=".4s">
          <div class="section-title">
            <h6>About Us</h6>
            <h2>Welcome! To Khan Brothers CNG Station</h2>
          </div>
          <p>Fueling Tomorrow's Journeys with Today's Commitment: A Legacy of Excellence at Khan Brothers CNG Station.
          </p>
          <p>
            Founded on a Vision, Fueled by Integrity: Khan Brothers CNG Station is not just a refueling destination;
            it's a testament to our unwavering dedication to sustainability and customer satisfaction. With cutting-edge
            technology and a commitment to environmental responsibility, we stand as a beacon of reliability in the
            community, driving progress one eco-friendly fill-up at a time.
          </p>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="key-feature">
                <div class="row no-gutters">
                  <div class="col-lg-4">
                    <div class="about-icon">
                      <img src="{% static 'img/icon/1.png' %}" alt>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <h4>100% Satisfied With Oil</h4>
                    <p>It is a long established fact that a reader will be distracted.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="key-feature">
                <div class="row no-gutters">
                  <div class="col-lg-4">
                    <div class="about-icon">
                      <img src="{% static 'img/icon/3.png' %}" alt>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <h4>100% Currect Meter</h4>
                    <p>It is a long established fact that a reader will be distracted.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="wow fadeInUp" data-wow-delay=".2s">
          <div class="about-img">
            <img src="{% static 'img/about/about.jpg' %}" alt>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="achievement-area">
  <div class="overlay-2"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-counter-box wow fadeInLeft" data-wow-delay=".2s">
          <div class="about-fact-icon"><i class="fa-solid fa-user-friends"></i></div>
          <p class="counter-number"><span>3000</span>+</p>
          <h6>Satisfied Client</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-counter-box wow fadeInLeft" data-wow-delay=".4s">
          <div class="about-fact-icon"><i class="fa-solid fa-globe"></i></div>
          <p class="counter-number"><span>180</span></p>
          <h6>Worldwide Services</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-counter-box wow fadeInLeft" data-wow-delay=".6s ">
          <div class="about-fact-icon"><i class="fa-solid fa-mug-hot"></i></div>
          <p class="counter-number"><span>100</span></p>
          <h6>Cup Of Tea</h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-counter-box wow fadeInLeft" data-wow-delay=".8s">
          <div class="about-fact-icon"><i class="fa-solid fa-award"></i></div>
          <p class="counter-number"><span>50</span></p>
          <h6>Total Awards</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chooseus-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="feature-img wow fadeInUp" data-wow-delay=".6s">
          <img src="{% static 'img/about/feature.jpg' %}" alt>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-title">
          <h6>Choose</h6>
          <h2 class="section-heading">Why Choose Our Services</h2>
        </div>
        <p class="highlight mb-20">Choosing Khan Brothers CNG Station is more than just a practical decision; it's a
          commitment to quality, reliability, and environmental responsibility. Here's why discerning customers like you
          prefer us</p>
        <div class="single-feature-item wow fadeInUp" data-wow-delay=".2s">
          <div class="num"><i class="fa-solid fa-check"></i></div>
          <div class="feature-content">
            <h5>Currect Meter</h5>
            <p>Empowering your journey with cutting-edge technology, Khan Brothers CNG Station features state-of-the-art
              current meters. Stay informed with real-time data on your fuel consumption, ensuring a precise and
              efficient refueling experience. Elevate your journey with our commitment to innovation and customer
              convenience.</p>
          </div>
        </div>
        <div class="single-feature-item wow fadeInUp" data-wow-delay=".4s">
          <div class="num"><i class="fa-solid fa-check"></i></div>
          <div class="feature-content">
            <h5>Best Quality Oil</h5>
            <p>Our commitment to excellence extends to offering the finest-quality oil at Khan Brothers CNG Station.
              Experience unparalleled engine efficiency and reliability with our carefully selected, top-grade oils.
              Choose the best for your vehicle; choose Khan Brothers for a superior fueling experience.</p>
          </div>
        </div>
        <div class="single-feature-item wow fadeInUp" data-wow-delay=".6s">
          <div class="num"><i class="fa-solid fa-check"></i></div>
          <div class="feature-content">
            <h5>24/7 Services</h5>
            <p>Our station never sleeps. Enjoy the convenience of round-the-clock access to clean and reliable CNG and
              LPG fuel options, ensuring your journey is uninterrupted at any hour.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-area dark-bg section-padding">
  <div class="overlay-2"></div>
  <div class="capricorn-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center ">
          <div class="section-title">
            <h6>Testimonial</h6>
            <h2>What People Say</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="client-carousel owl-carousel">
            <div class="single-client-item">
              <div class="testimonial-icon"><i class="fa-solid fa-quote-left"></i></div>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour.</p>
              <img src="{% static 'img/testimonial/customer-1.jpg' %}" alt>
              <div class="author-desc">
                <h5>Frankie Clark</h5><span>Customer</span>
              </div>
            </div>
            <div class="single-client-item">
              <div class="testimonial-icon"><i class="fa-solid fa-quote-left"></i></div>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour.</p>
              <img src="{% static 'img/testimonial/customer-2.jpg' %}" alt>
              <div class="author-desc">
                <h5>Terence Smith</h5><span>Customer</span>
              </div>
            </div>
            <div class="single-client-item">
              <div class="testimonial-icon"><i class="fa-solid fa-quote-left"></i></div>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour.</p>
              <img src="{% static 'img/testimonial/customer-3.jpg' %}" alt>
              <div class="author-desc">
                <h5>Mary Abrams</h5><span>Customer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}